<div id="<%= dom_id party %>">
  <p>
    <strong>Title:</strong>
    <%= party.title %>
  </p>

  <p>
    <strong>Embeded link:</strong>
    <%= party.embeded_link %>
  </p>

  <p>
    <strong>Like:</strong>
    <%= party.like %>
  </p>

  <p>
    <strong>Dislike:</strong>
    <%= party.dislike %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= party.views %>
  </p>

  <p>
    <strong>Timestamps:</strong>
    <%= party.timestamps %>
  </p>

</div>
