<h1 class="text-center">Salas de videos</h1>

<div id="parties">
  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Visualizações</th>
        <th scope="col">Likes</th>
        <th scope="col">Dislikes</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @parties.each do |party| %>
        <tr class="text-center">
          <td><%= party.id %></td>
          <td><%= party.title %></td>
          <td><%= party.views %></td>
          <td><%= party.like %></td>
          <td><%= party.dislike %></td>
          <td>
            <div class="d-flex justify-content-around">
              <div>
                <%= link_to party_path(party), class: "btn btn-outline-success" do %>
                  <span>
                    <i class="bi bi-search"></i>
                  </span>
                <%end%>
              </div>
              <div>
                <%= link_to edit_party_path(party), class: "btn btn-outline-primary" do %>
                  <span>
                    <i class="bi bi-pencil"></i>
                  </span>
                <%end%>
              </div>
              <div>
                <%= button_to party, method: :delete, class: "btn btn-outline-danger", data: {confirm: "Are you sure?"} do %>
                  <span>
                    <i class="bi bi-trash"></i>
                  </span>
                <%end%>
              </div>
          </td>
        </tr>
      <% end %>
    </tbody>
</div>

<div class="m-4 text-end">
  <%= link_to "Nova sala", new_party_path, class: "btn btn-primary text-end" %>
</div>
